{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h2 class="text-center font weigh bold my-4">This will tell you about Other Technologies</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe reprehenderit minima sit atque, error harum placeat quam quisquam eligendi corporis nobis, esse laudantium sequi vel hic at nam. Sit corrupti facere laborum deserunt perferendis aperiam, voluptatem quod? Esse incidunt, earum asperiores nisi ratione debitis aperiam hic modi blanditiis ducimus excepturi veniam harum. Minus, illo molestiae.
    </p>
    <hr>
    <h2 class="text-center my-4">What are types of Techx</h2>
    <p>Technology is the application of conceptual knowledge for achieving practical goals, especially in a reproducible way. The word technology can also mean the products resulting from such efforts, including both tangible tools such as utensils or machines, and intangible ones such as software</p>
</body>
</html>
{% endblock content %}